
/*------General-------*/


* {
     font-family: helvetica, Lato, Arial, sans-serif;
     font-size: 16px;
     box-sizing: border-box;  
     margin: 0 auto; 
     text-decoration: none;
/*     text-align: center;*/

}

title {
    color: red;
    font-size: 16px;
}

ul {
    list-style-type: none;
}



.wrap {
    text-align: center;
    background: rgba(238, 238, 238, 0.35);
    max-width: 1024px;
}







/*------------------------------------------------------------------*/
/*---------------------Links--------------------------*/
/*------------------------------------------------------------------*/



.main-nav a {
  transition: all .5s;
}
.main-nav a:hover {
  color: #0399ff;
    
}


.name,
.main-nav a {
    text-align: center;
    display: block;
    padding:  10px 15px;
}


a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
}

a:hover {
    color: blue;
}

a:active {
    color: black;
}

a:focus {
    color: white;
    background-color: orange;
}








/*-------------------------H elements-------------------------*/


h1 {
    letter-spacing: 2px;
}


h2,
h3 {
    font-size: 1.1em;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: normal;
}


.detail {
    padding: 10px 10px;
    margin-bottom: 20px;
}
    




#coloumn {
    background: #fff;
    width: 98%;
    padding-top: 10px;
}


  
    .container {
        display: inline-block;
        width: 100%;
        clear: both;
        text-align: left;
    }
    
    .bio {
        margin: 0 auto;
        float: left;
    }
    
    .bio2 {
        float: right;
        width: 30%;
        margin: 10px 10px;
    }

/*------------ Media Queries----------------------------------------------------------*/


/*------1024PX RESOLUTION-------*/



@media (min-width: 1024px) {
    

/*  --Float Clearfix-- */
    
    	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}
    
    
    .bio {
        width: 60%;
    }
    
    
    .bio,
    .bio2 {
        margin: 10px 10px;
        padding: 10px 10px;
    }
    






/* -------------------------------------BODY---------------------------------   */
    


    

/*----------------Header-----------------------------*/


    .main-nav {
        margin-top: 0;
        float: right;
        padding-top: 23px;
    }
    
    .main-nav li {
        display: inline-block;
        margin-left: 15px;
        
    }

  







/*----------------------COLOUMN--------------------------------------*/




    
    .wrap img {
        width: 100%;
    }

 figure {
     line-height: 1.3em;
     letter-spacing: 1px;
     padding-bottom: 1px;
     padding-left: 15px;
     margin: 10px 10px;
     font-size: 15px;
     font-weight: 200;
}





.primary {
    width: 100%;
}

.secondary {
    width: 100%;
}

    
    
/*---------------------------Primary Col------------------------------*/
    
    
    
    .col {
        display: inline-block;
        margin: 10px 10px;
        padding: 10px 10px;
        clear: both;
    }
    
    .first {
        width: 33%;
        float: left;
    }
    .second {
        width: 33%;
        float: left;
    }
    .third {
        width: 33%;
        float: right;;
    }

    
/*----------------------------Secondary Col------------------------*/
    
    .fourth {
        width: 33%;
        float: left;
    }
    .fifth {
        width: 33%;
        float: left;
    }
    .sixth {
        width: 32%;
        float: right;
    }


    





/*------------------------Footer-------------------------------*/





.main-footer {
    clear: both;
    display: inline-block;
    width: 100%;
    border-top: solid 1px #eee;
}

.name {
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}

h4 {
    
    margin: 34px 20px;
    
}


.contact {
    text-align: center;
    width: 60%;
    padding: 5px 5px;
    line-height: 1.5em;
    margin-bottom: 40px;
    font-weight: 100;
}


#phone,
#email {
    margin: 10px 10px;
}




/*------------------------------------------------------------------*/
/*---------------------Links--------------------------*/
/*------------------------------------------------------------------*/



.main-nav a {
  transition: all .5s;
}
.main-nav a:hover {
  color: #0399ff;
    
}


.name a,
.main-nav a {
    text-align: center;
    display: block;
    padding:  10px 15px;
}


a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
}

a:hover {
    color: blue;
}

a:active {
    color: black;
}

a:focus {
    color: white;
    background-color: orange;
}






}



    









/*----------------------------------768px Resolution---------------------------------*/

@media (max-width: 1023px) {
    
    
/*  --Float Clearfix-- */
       
        
    .clearfix::after {
    content: " ";
    display: table;
    clear: both;
}
    
    .wrap {
        margin: 0 auto;
    }
    
/*----------------------CENTRAL ELEMENTS---------------------------------*/
    

    .wrap,
    .wrap img {
        width: 90%;
        height: auto;
    }
    
    .bio {
        width: 62%;
        text-align: left;
        margin-top: 10px;
        margin-left: 10px;
        padding: 10px 10px;
    }
    
    .bio2 {
        margin-top: 10px;
        padding-top: 10px;
    }
    
    .first-half {
        width: 100%;
        display: block;
    }
    
    
    
    .other-half {
        width: 100%;
    }
    
    .coloumn {
        width: 100%;
        display: inline-block;
    }
    
    
    .primary {
        width: 100%;
    }
    
    .secondary {
        width: 100%;
    }
    
    .first {
        float: left;
        width: 50%;
    }
    .second {
        width: 50%;
        float: right;
    }
    .third {
        float: left;
        width: 50%;
    }
    .fourth {
        width: 50%;
        float: right;
    }
    .fifth {
        float: left;
        width: 50%;
    }
    .sixth {
        width: 50%;
        float: right;
    }
    
    
    .first,
    .second,
    .third,
    .fourth,
    .fifth,
    .sixth {
        padding: 20px 2px;
    }
    
    
       
/*-----------FOOTER-----------------------------*/
    
.main-footer {
    clear: both;
    display: inline-block;
    width: 100%;
    border-top: solid 1px #eee;
}
    
    #center {
        text-align: center;
    }
    
    
    .contact {
        width: 50%;
        line-height: 25px;
    }
    
    #phone,
    #email {
        padding-bottom: 10px;
    }
    
       .main-nav {
        margin-top: 0;
        padding-top: 2px;
    }
    
    .main-nav li {
        display: inline-block;
        
    }
    
    .name {
        padding-bottom: 2px;
    }


}




/*---------------------------------------320PX RESOLUTION-------------------------------------*/

@media (max-width: 768px) {
    
    
    
/*  --Float Clearfix-- */
        
    	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}
    
    
    .wrap {
        width: 100%;
    }
    
    
    
    .main-nav li {
        display: block;
        background: #fff;
        padding: 2px 2px;
        width: 90%;
        border: solid 1px #eee;
    }
    
    .container {
        display: inline-block;
        margin: 0 auto;
    }
    
    .bio2 {
        width: 40%;
        float: none;
    }
    
    .bio {
        width: 45%;
        text-align: left;
        float: none;
    }
    
    
    .first,
    .second,
    .third,
    .fourth,
    .fifth,
    .sixth {
        padding: 20px 2px;
        float: none;
        width: 80%;
    }
    
}



