
/*------General-------*/


* {
     font-family: helvetica, Lato, Arial, sans-serif;
     font-size: 16px;
     box-sizing: border-box;  
     margin: 0 auto; 
     text-decoration: none;
     text-align: center;
}

title {
    color: red;
    font-size: 16px;
}

ul {
    list-style-type: none;
}



.wrap {
    text-align: center;
    background: rgba(238, 238, 238, 0.21);
}


/*---------------------------HEADER---------------------------------------------*/

.wrap {
    box-sizing: border-box;
    width: 100%;
    margin: 10px 10px;
/*    max-width: 320px;*/
    margin: 0 auto;
    clear: both;
}

img {
    width: 100%;
}



.main-header {
    display: block;
}

.name {
    font-size: 1.2em;
    margin: 10px 10px;
    padding: 10px 10px;
}

.main-nav li {
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
    border: solid white 1px;
    background-color: white;
    padding: 10px 0 10px;
    width: 90%;
}

.container {
    width: 90%;
    display: block;
    
}

.bio2 {
    width: 80%;
    background-position: center;
    padding: 10px 10px;
    margin-top: 2.2em;
    margin bottom: 1em;
}

.bio {
    text-align: center;
    width: 100%;
    margin-top: 1.2em;
    margin-bottom: 1.2em;
}

.bio p {
    color: rgba(139, 137, 137, 0.66);
    font-weight: 300;
    line-height: 1.4rem;
}

/*---------------------------------Coloumns-------------------------------------*/

.coloumn {
    width: 100%;
    background-color: white;
    padding: 10px 10px;
    border: solid white 1px;
    
}

.photo {
    margin-bottom: 2em;
    margin-top: 1rem;
    width: 90%;
    font-weight: 300;
    
}

h2 {
    margin-top: 3em;
    margin-bottom: 3em;
}

h3 {    
    margin-top: 1rem;
    margin-bottom: 1rem;
}

p {
    width: 90%;
    line-height: 1.4rem;
    letter-spacing: 0.1px;
}


/*--------------------FOOTER--------------------------------------------------*/



.detail {
    margin-top: 30px;
    margin-bottom: 20px;
    padding-top: 30px;
    padding-bottom: 20px;
}

.footer-p {
    font-weight: 300;
    margin-bottom: 20px;
    padding: 5px 4px;
    line-height: 1.5rem;
}

#phone,
#email {
    padding-bottom: 10px;
}

#footer-nav {
   display: none;
}


#below {
    border-top: solid 1px #eee;
    width: 90%;
    clear: both;
    display: inline-block;
}

.bot-name {
    margin: 20px 0;
    padding: 20px 0;
    float: left;
    display: block;
    width: 40%;
}

.back li {
    margin: 20px 0;
    padding: 20px 0;
    display: inline-block;
    float: right;
    width: 40%;
}